{% extends "base.html" %}
{% load static %}

<!--css files-->
{% block css_files %}
    <link rel="stylesheet" href="{% static 'challenges/challenge.css' %}">
    <link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock %}

<!--page title-->
{% block page_title %}
    Monthly Challenge
{% endblock %}

<!--content-->
{% block content %}
    <!--header-->
    {% include "challenges/includes/header.html" %}

    <h1>{{month_name | title }} challenge</h1>
    {% if text is not None %}
        <h2>{{month_name}}: {{ text }}</h2>
    {% else %}
        <p>There is no challenge for this month yet!</p>
    {% endif %}
{% endblock %}
